@charset "UTF-8";

body {
    background-color: rgb(160, 212, 190);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(28, 114, 28);
}

h1#principal {
    text-align: center;
    color:rgb(250, 253, 250) ;
    background-color:rgb(10, 27, 10);
}

h2 {
    color: rgb(68, 126, 60);
}

.basico {
    color: rgb(68, 126, 60);
    font-weight: bold;
}

.intermediario {
    color: rgb(146, 145, 63);
}

.avancado {
    color: rgb(146, 66, 66);
}

.destaque {
    background-color: rgba(150, 150, 56, 0.712)
}